
@{
    ViewBag.Title = "Index";
}

@model IQueryable<WebAPIDemo.Models.OrderData> 

<h2>Index</h2>

<table>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.Customer</td>
        </tr>
    }
</table>

